<nav aria-label="Hovednavigation">

    <a href="index.html" data-nav="home">
        Forside
    </a>

    <a href="listings.html" data-nav="listings">
        Annoncer
    </a>

    <a href="create.html" data-nav="create">
        Opret annonce
    </a>

    <a id="login-link" href="/login">
        Log ind
    </a>

    <a id="account-link" href="my-listings.html" data-nav="my-listings" hidden>
        Mine annoncer
    </a>

    <a id="logout-link" href="/logout" hidden>
        Log ud
    </a>
</nav>