<div class="site-header-content">
    <a class="logo" href="index.html">
        Annora
    </a>

    <nav aria-label="Hovednavigation">
        <a href="index.html" data-page="home">
            Forside
        </a>

        <a href="listings.html" data-page="listings">
            Annoncer
        </a>

        <a href="create.html" data-page="create">
            Opret annonce
        </a>

        <a
            id="login-link"
            href="/.auth/login/aad"
        >
            Log ind
        </a>

        <a
            id="account-link"
            href="my-listings.html"
            data-page="account"
            hidden
        >
            Mine annoncer
        </a>

        <a
            id="logout-link"
            href="/.auth/logout"
            hidden
        >
            Log ud
        </a>
    </nav>
</div>